*{
    margin: 0px;
    padding: 0px;
}
header {
  background: url('assests/Ellipse\ 23.png');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: center;
}