* {
  margin: 0px;
  padding: 0px;
}
body {
  width: 100%;
}
header {
  background: url("assests/Ellipse\ 23.png");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}
