.destinationSection {
  position: relative;

}

.destinationSection .imageWrapper{
  position:absolute;
  top: -280px;
  width: 100%;
}
.destinationSection .imageWrapper .img{
  width: 100%;
  opacity: 0.1;
}
.destinationSection .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 169px;
  padding-top: 220px;
}
.destinationSection .content .text {
  flex-direction: column;
  gap: 16px;
  display: flex;
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
}
.destinationSection .content .text .pinkText{
  color: rgba(248, 94, 159, 1);
  font-size: 23px;
  letter-spacing: 4.6px;
}
.destinationSection .content .text .blackText {
  font-size: 44px;
}
.destinationSection .content .arrowIcon {
  gap: 32px;
  display: flex;
}

.destinationSection .content .arrowIcon .btnLeft {
position: relative;
width: 100px;
height: 100px;
background-color: #ffffff;
border-radius: 100px;
border: 1px solid;
border-color: #1918251a;
}

.destinationSection .content .arrowIcon .btnLeft .arrow-left 
{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 37px;
  left: 37px;
  }
.destinationSection .content .arrowIcon .btnRight 
{
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #5D50C6;
  border-radius: 100px;
  border: 1px solid;
  color: white;
  border-color: #5D50C6;
}
.destinationSection .content .arrowIcon .btnRight .arrow-right 
{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 37px;
  color: white;
  left: 37px;
}
