/* .destinationSection
{
    background: url('assests/Vectorback.png');
    background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center;
} */
.frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 64px 169px;
    position: relative;
}

.frame .div {
flex-direction: column;
gap: 16px;
display: inline-flex;
align-items: flex-start;
position: relative;
flex: 0 0 auto;
}

.frame .top-destination {
position: relative;
width: fit-content;
margin-top: -1px;
font-family: "Circular Std-Bold", Helvetica;
font-weight: 700;
color: var(--secondary);
font-size: 23px;
letter-spacing: 4.6px;
line-height: 27.6px;
white-space: nowrap;
}

.frame .text-wrapper {
position: relative;
width: fit-content;
font-family: var(--h3-font-family);
font-weight: var(--h3-font-weight);
color: var(--grey-scaleblack);
font-size: var(--h3-font-size);
letter-spacing: var(--h3-letter-spacing);
line-height: var(--h3-line-height);
white-space: nowrap;
font-style: var(--h3-font-style);
}

.frame .div-2 {
gap: 32px;
display: inline-flex;
align-items: flex-start;
position: relative;
flex: 0 0 auto;
}

.frame .group {
position: relative;
width: 100px;
height: 100px;
background-color: #ffffff;
border-radius: 100px;
border: 1px solid;
border-color: #1918251a;
}

.frame .arrow-left {
position: absolute;
width: 24px;
height: 24px;
top: 37px;
left: 37px;
}

.frame .img {
position: relative;
width: 192px;
height: 271px;
margin-top: -9px;
margin-bottom: -162px;
margin-right: -46px;
}


:root {
  --secondary: rgba(248, 94, 159, 1);
  --grey-scaleblack: rgba(25, 24, 37, 1);
  --white: rgba(255, 255, 255, 1);
  --grey-scaleblack-10: rgba(25, 24, 37, 0.1);
  --h3-font-family: "CircularStd-Bold", Helvetica;
  --h3-font-weight: 700;
  --h3-font-size: 44px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 120.00000476837158%;
  --h3-font-style: normal;
}