.featureSection {
  display: flex;
  flex-direction: row;
  padding: 32px 169px;
  gap: 43px;
}
.featureSection .content {
  display: flex;
  flex-direction: column;
  width: 540px;
  gap: 64px;
}

.featureSection .content .div,
.featureSection .content .div-2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.featureSection .content .key-features {
  font-family: "Circular Std-Bold", Helvetica;
  font-weight: 700;
  color: var(--secondary);
  font-size: 23px;
  letter-spacing: 4.6px;
}

.featureSection .content .text-wrapper {
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  font-size: var(--h3-font-size);
}

.featureSection .content .contrary-to-popular {
  font-family: var(--body-font-family);
  color: var(--grey-scaleblack-50);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}
.featureSection .content .div-4 {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 32px;
  border-radius: 32px;
}

.featureSection .content .group {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ff5722;
  border-radius: 32px;
}

.featureSection .content .img {
  position: absolute;
  top: 26px;
  left: 26px;
}

.featureSection .content .div-5 {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.featureSection .content .text-wrapper-2 {
  font-family: var(--h6-font-family);
  font-weight: var(--h6-font-weight);
  font-size: var(--h6-font-size);
}

.featureSection .content .p {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}

.featureSection .content .div-6 {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 32px;
  align-self: stretch;
  border-color: var(--grey-scaleblack-10);
}

.featureSection .content .calendar-wrapper {
  background-color: #facd49;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 32px;
}

.featureSection .content .calendar {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 24px;
  left: 24px;
}

.featureSection .content .ticket-wrapper {
  background-color: #f85e9f;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 32px;
}

/* Hovering things */

.featureSection .content .div-4:hover,
.featureSection .content .div-6:hover {
  border-radius: 32px;
  border: 1px solid;
  border-color: var(--grey-scaleblack-10);
  cursor: pointer;
}

:root {
  --secondary: rgba(248, 94, 159, 1);
  --grey-scaleblack: rgba(25, 24, 37, 1);
  --grey-scaleblack-50: rgba(25, 24, 37, 0.5);
  --orange: rgba(255, 87, 34, 1);
  --white: rgba(255, 255, 255, 1);
  --yellow: rgba(250, 205, 73, 1);
  --grey-scaleblack-10: rgba(25, 24, 37, 0.1);
  --h3-font-family: "CircularStd-Bold", Helvetica;
  --h3-font-weight: 700;
  --h3-font-size: 44px;
  --h3-letter-spacing: 0px;
  --h3-line-height: 120.00000476837158%;
  --h3-font-style: normal;
  --body-font-family: "Inter-Regular", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 18px;
  --body-letter-spacing: 0px;
  --body-line-height: 160.0000023841858%;
  --body-font-style: normal;
  --h6-font-family: "CircularStd-Bold", Helvetica;
  --h6-font-weight: 700;
  --h6-font-size: 23px;
  --h6-letter-spacing: 0px;
  --h6-line-height: 120.00000476837158%;
  --h6-font-style: normal;
}

@media screen and (max-width: 768px) {
  .featureSection {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 43px;
  }
  .featureSection .content {
    width: 100%;
  }

  .featureSection .content .div-4 {
    padding: 8px;
  }
  .featureSection .content .group {
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .featureSection .content .img {
    position: unset;
  }

  .featureSection .content .div-6 {
    padding: 8px;
  }

  .featureSection .content .calendar-wrapper {
    padding: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .featureSection .content .calendar {
    position: unset;
  }

  .featureSection .content .ticket-wrapper {
    background-color: #f85e9f;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
  }
}
