.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 169px;
    position: relative;
    font-family: "Circular Std-Black", Helvetica;
    font-size: 14px;
    font-weight: 700;
}
.navbar .company{
    align-items: center;
    gap: 16px;
    display:flex;
    position: relative;
}

.navbar .company div{
    font-weight: 900;
    color: rgba(25, 24, 37, 1);
    font-size: 24px;
}
.navbar .navlinks{
    display: flex;
    gap: 64px;
}
.navbar .navlinks .current {
    color: rgba(34, 40, 49, 1);

}
.navbar .navlinks .rest {
    color: rgba(25, 24, 37, 0.5);
}
.navbar .registration{
    display: flex;
}
.navbar .registration .login{
    padding: 16px 32px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100px;
    color: #222831;
}
.navbar .registration .signin{
    padding: 16px 32px;
    background-color: rgba(93, 80, 198, 1);
    border-radius: 100px;
    color: rgba(238, 238, 238, 1);
}